@supports (display: grid) and (--invalid: unset) {
    :root {
        color-scheme: light dark;

        --page-margin: 4em;
        --page-text-wrap: break-word;

        --color-text: unset;
        --color-background: unset;

        --font-text-family: unset;
        --font-text-code-family: unset;

        --font-text-size: 1em;
        --line-text-height: 1.5;

        --main-line-text-align: unset;

        --nav-width-max: 20em;
        --nav-line-text-height: 1;
        --nav-line-text-align: right;

        --nav-resp-padding: 1em;
        --nav-resp-line-text-height: 1;
        --nav-resp-line-text-align: center;

        --main-width-min: 60vw;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        display: grid;
        grid-template-areas: 'nav main';
        grid-template-columns: max-content;
        grid-template-rows: auto;

        margin: unset;

        color: var(--color-text);
        background-color: var(--color-background);

        font-family: var(--font-text-family);
        font-size: var(--font-text-size);

        line-height: var(--line-text-height);
        word-wrap: var(--page-text-wrap);

        min-height: 100vh;
    }

    body pre,
    body code {
        font-family: var(--font-text-code-family);
    }

    body nav {
        grid-area: nav;

        position: sticky;
        top: 0;

        height: fit-content;
        width: fit-content;
        max-width: var(--nav-width-max);

        padding: var(--page-margin);
        padding-right: unset;

        color: var(--color-text);
        background-color: var(--color-background);

        text-align: var(--nav-line-text-align);
    }

    body nav nav-header {}

    body nav nav-main {
        display: initial;
        line-height: var(--nav-line-text-height);
    }

    body nav nav-main > * {
        display: block;
    }

    body main {
        grid-area: main;

        margin: var(--page-margin);
        min-width: var(--main-width-min);

        text-align: var(--main-line-text-align);
    }

    body [data-overflow-only] {
        display: none;
    }

    body[data-overflow] [data-overflow-only] {
        display: unset;
    }

    body[data-overflow] {
        grid-template-areas: 'nav' 'main';
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    body[data-overflow] [data-overflow-hold] {
        display: none;
    }

    body[data-overflow] [data-overflow-reveal] {
        display: initial;
    }

    body[data-overflow] nav {
        height: unset;
        width: 100%;
        max-width: unset;

        padding: var(--nav-resp-padding) var(--page-margin);

        text-align: var(--nav-resp-line-text-align);
    }

    body[data-overflow] nav nav-header {
        line-height: var(--nav-resp-line-text-height);
    }

    body[data-overflow] nav nav-header > * {
        margin: unset;
    }

    body[data-overflow] nav nav-main {}

    body[data-overflow] main {}
}
