@import url('fonts/lexend/css/all.css');
@import url('fonts/font-awesome/css/all.css');


:root {
    --page-margin: 4em;

    --font-text-family: 'Lexend Deca';
    --font-text-size: 1em;

    --line-text-height: 1.5;

    --color-text: black;
    --color-background: white;

    --nav-color-text: white;
    --nav-color-background: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: white;
        --color-background: #121212;
    }
}

* { box-sizing: border-box; }

body {
    display: grid;
    grid-template-areas: 'nav main';
    margin: unset;

    color: var(--color-text);
    background-color: var(--color-background);

    font-family: var(--font-text-family);
    font-size: var(--font-text-size);

    line-height: var(--line-text-height);
    word-wrap: break-word;
}

body ::-moz-selection,
body ::selection {
    background-color: var(--color-background);
}

body hr {
    height: 2px;
    display: block;
    border: 0;
    border-top: 2px solid;
    width: 100%;
}

body blockquote {
    position: relative;
}

body blockquote:before {
    position: absolute;
    content: open-quote;
    font-size: 4em;
    margin-left: -0.6em;
    margin-top: -0.4em;
}

body header {}
body footer {}

body nav {
    grid-area: nav;
    grid-row: 1;
    grid-column: 1;
    position: sticky;

    z-index: 1;
    top: 0;
    left: 0;

    color: var(--nav-color-text);
    background-color: var(--nav-color-background);

    line-height: 1;

    width: 15em;
    min-width: fit-content;

    padding: 3em;
    height: 100vh;
}

body nav > * {
    display: block;
}

body nav > #title {
    line-height: 1.5;
    text-transform: capitalize;
}

body nav button,
body nav [data-button] {
    color: var(--nav-color-background);
    background-color: var(--nav-color-text);
}

body[data-overflow] nav {
    display: none;
}

body main {
    grid-area: main;
    grid-row: 1;
    grid-column: 2;

    margin: var(--page-margin);
    min-width: 60vw;
}
