@supports (display: grid) and (--invalid: unset) {
    :root {
        color-scheme: light dark;
    }

    body {
        --page-margin: 4em;
        --page-text-wrap: break-word;

        --line-text-height: 1.5;
        /*--font-text-family: unset;*/
        --font-text-size: 1em;
        --color-text: black;
        --color-background: white;

        --nav-width-max: 20em;
        --nav-line-text-height: 1;
        --nav-color-text: white;
        --nav-color-background: black;

        --nav-resp-padding: 1em;
        --nav-resp-line-text-height: 1;

        --main-width-min: 60vw;
    }

    @media (prefers-color-scheme: dark) {
        body {
            --color-text: #ededed;
            --color-background: #121212;
        }
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        display: grid;
        grid-template-areas: 'nav main';
        grid-template-columns: max-content;
        grid-template-rows: auto;

        margin: unset;

        color: var(--color-text);
        background-color: var(--color-background);

        font-family: var(--font-text-family);
        font-size: var(--font-text-size);

        line-height: var(--line-text-height);
        word-wrap: var(--page-text-wrap);
    }

    body ::-moz-selection,
    body ::selection {
        background-color: var(--color-background);
    }

    body nav {
        grid-area: nav;
        grid-row: 1;
        grid-column: 1;

        position: sticky;
        top: 0;

        height: 100vh;
        width: fit-content;
        max-width: var(--nav-width-max);

        padding: var(--page-margin);

        color: var(--nav-color-text);
        background-color: var(--nav-color-background);
    }

    body nav nav-header {}

    body nav nav-main {
        display: initial;
        line-height: var(--nav-line-text-height);
    }

    body nav nav-main > * {
        display: block;
    }

    /* TODO */
    body nav button,
    body nav [data-button] {
        color: var(--nav-color-background);
        background-color: var(--nav-color-text);
    }

    body main {
        grid-area: main;
        grid-row: 1;
        grid-column: 2;

        margin: var(--page-margin);
        min-width: var(--main-width-min);
    }

    body main page {
        display: block;
    }

    body main page {
        display: none;
    }

    body main page:target {
        display: initial;
    }

    body [data-overflow-only] {
        display: none;
    }

    body[data-overflow] [data-overflow-only] {
        display: unset;
    }

    body[data-overflow] {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    body[data-overflow] [data-overflow-hold] {
        display: none;
    }

    body[data-overflow] [data-overflow-reveal] {
        display: initial;
    }

    body[data-overflow] nav {
        grid-row: 1;
        grid-column: 1;

        height: unset;
        width: 100%;
        max-width: unset;

        padding: var(--nav-resp-padding) var(--page-margin);

        text-align: center;
    }

    body[data-overflow] nav nav-header {
        line-height: var(--nav-resp-line-text-height);
    }

    body[data-overflow] nav nav-header > * {
        margin: unset;
    }

    body[data-overflow] nav nav-main {}

    body[data-overflow] main {
        grid-row: 2;
        grid-column: 1;
    }
}
