@supports (display: grid) and (--invalid: unset) {
    /* UI Common */
    :root {
        --ui-color-text: unset;
        --ui-color-background: unset;

        --ui-page-margin: 1em;

        --ui-border: none;
        --ui-border-radius: 0.25em;
        --ui-padding: 0.25em 0.5em;

        --ui-gap: 1em;

        --ui-selection-opacity: 0.5;
    }


    /* UI Element: Selections */
    ::-moz-selection,
    ::selection {
        background-color: var(--ui-color-background);
        opacity: var(--ui-selection-opacity);
    }


    /* UI Element: Hyperlinks */
    a {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }


    /* UI Element: Layout - Navigation */
    nav {}
    nav nav-header {}
    nav nav-main {}


    /* UI Element: Layout - Main Content */
    main {}


    /* UI Element: Button */
    tag, .ui-tag {
        border: var(--ui-border);
        border-radius: var(--ui-border-radius);
        padding: var(--ui-padding);
        color: var(--ui-color-text);
        background-color: var(--ui-color-background);
    }


    /* UI Element: Card */
    card {
        display: block;
    }

    card card-header {}
    card card-main {}

    .ui-card {
        border: var(--ui-border);
        border-radius: var(--ui-border-radius);
        padding: var(--ui-page-margin);
        color: var(--ui-color-text);
        background-color: var(--ui-color-background);
    }

    .ui-card.ui-card-layout-cozy {
        display: grid;
        grid-template-areas: 'header main';
        grid-column-gap: var(--ui-gap);
    }

    .ui-card.ui-card-layout-cozy card-header {
        grid-area: header;
        text-align: center;
    }

    .ui-card.ui-card-layout-cozy card-main {
        grid-area: main;
        text-align: left;
    }

    .ui-card.ui-card-layout-portrait {
        display: grid;
        grid-template-areas: 'header' 'main';
        grid-row-gap: var(--ui-gap);
    }

    .ui-card.ui-card-layout-portrait card-header {
        grid-area: header;
        text-align: center;
    }

    .ui-card.ui-card-layout-portrait card-main {
        grid-area: main;
        text-align: center;
    }


    /* UI Element: Timeline */
    timeline {
        --ui-timeline-header-width: 20%;
    }

    timeline {
        display: table;
    }

    timeline timeline-group {
        display: table-row;
    }

    timeline timeline-group timeline-header,
    timeline timeline-group timeline-main {
        display: table-cell;
        padding: var(--ui-page-margin);
    }

    timeline timeline-group timeline-header {
        text-align: right;
        width: var(--ui-timeline-header-width);
    }

    timeline timeline-group timeline-main {
        text-align: left;
    }


    /* UI Element: Button */
    button {
        font: unset;
    }

    .ui-button {
        cursor: pointer;
        border: var(--ui-border);
        border-radius: var(--ui-border-radius);
        padding: var(--ui-padding);
        color: var(--ui-color-text);
        background-color: var(--ui-color-background);
    }


    /* UI Element: Toggle Switch */
    .ui-toggle {}

    .ui-toggle:not([data-checked])
    .indicator .on {
        display: initial;
    }

    .ui-toggle:not([data-checked])
    .indicator .off {
        display: none;
    }

    .ui-toggle[data-checked]
    .indicator .on {
        display: none;
    }

    .ui-toggle[data-checked]
    .indicator .off {
        display: initial;
    }


    /* UI Theme: Unselectable */
    .ui-unselectable,
    [data-unselectable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    /* UI Theme: Font Smoothing */
    .ui-font-smoothing,
    [data-font-smoothing] {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: auto;
    }


    /* UI Theme: Compact */
    .ui-compact * {
        margin: unset;
    }


    /* UI Theme: License */
    license, .ui-license {}


    /* UI Theme: Gallery */
    gallery, .ui-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: var(--ui-gap);
    }


    /* UI Theme: Article */
    article, .ui-article {
        --ui-article-header-margin: unset;
    }

    article header *,
    .ui-article header *,
    header.ui-article * {
        margin: unset;
    }


    /* UI Theme: Text */
    .ui-text a,
    a.ui-text {
        text-decoration: underline;
    }

    .ui-text a:hover,
    a.ui-text:hover {
        text-decoration: none;
    }


    /* UI Theme: Classy */
    .ui-classy {
        --ui-hr-height: 2px;
        --ui-blockquote-quote-font-size: 4em;
        --ui-blockquote-quote-line-height: 1;
        --ui-blockquote-margin: 0.5em;
    }

    .ui-classy hr,
    hr.ui-classy {
        display: block;
        border: unset;
        border-top: var(--ui-hr-height) solid;
    }

    .ui-classy blockquote,
    blockquote.ui-classy {
        display: grid;
        grid-template-areas: 'quote-begin quote-content';
        grid-template-columns: max-content;
        grid-template-rows: auto;

        margin-left: unset;
    }

    .ui-classy blockquote::before,
    blockquote.ui-classy::before {
        grid-area: quote-begin;
        grid-row: 1;
        grid-column: 1;

        content: open-quote;
        font-size: var(--ui-blockquote-quote-font-size);
        line-height: var(--ui-blockquote-quote-line-height);
    }

    .ui-classy blockquote > quote,
    blockquote.ui-classy > quote {
        grid-area: quote-content;
        grid-row: 1;
        grid-column: 2;

        margin: var(--ui-blockquote-margin);
    }
}
